<html>

<head>
<title>FTC Case Table Display</title>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="static/css/skeleton.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.6/css/jquery.dataTables.css">
<script type="text/javascript" src= "//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src= "//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src= "static/js/table.js"></script>
</head>

<div id="content">
                Hello <strong>{{case}}</strong>
 </div>


<body>
<div class= "container">
<h1> Enter a New FTC Case </h1>







</div>
</body>



</html>