<html>

<head>
<title>FTC Case Site</title>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- <link rel="stylesheet" type="text/css" href="static/css/skeleton.css"> -->
</head>




<body>
<div class= "container">
<h1> Welome to the Site </h1>

<a href="/view"> Click here for the Table </a>

</div>

	<footer>
			
			<ul class="navigationBar">
				<li><a href="/add"> Click to add entry</a></li>
				<li><a href="/add">This link goes nowhere</a></li>
			</ul>
	</footer>



</body>



</html>